
<form action="/users/signup" method="POST">
    <label> First Name: 
        <input type="text" name="user_first" placeholder="First Name">
    </label>
    <label> Last Name: 
        <input type="text" name="user_last" placeholder="Last Name">
    </label>
    <label> Email: 
        <input type="text" name="user_email" placeholder="Email">
    </label>
    <label> Password: 
        <input type="password" name="user_password" placeholder="password">
    </label>
    <button class="button" type="submit">Sign Up</button>
</form>