<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.1/dist/css/foundation.min.css">
        <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.1/dist/js/foundation.min.js"></script>
    </head>
    <body>
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <a class="button primary" class="button" href="/">Home</a>
              </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                <a type="button" class="button" href="/users/login">Login</a>
                <a type="button" class="button" href="/users/signup">Sign up</a>
            </ul>
            </div>
          </div>
        <div class="grid-x">
        <main class="center">${partial}</main></div>

    </body>
</html>